<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFC Read/Writer</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            padding: 0;
            background-color: #75aad6;
            font-family: Arial, sans-serif;
        }


        #content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 65%;
            height: 80%;
            margin: 20px auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            border-radius: 150px;
        }


        #writeFormContainer,
        #readContainer {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 50%;
            margin-bottom: 20px;
        }


        #readContent {
            width: 750px;
            height: 300px;
            overflow-y: auto;
            border: 1px solid #3599aa;
            padding: 20px;
            border-radius: 25px;
            text-align: center;
        }


        #readContent::-webkit-scrollbar {
            display: none;
        }


        #readContent {
            scrollbar-width: none;
            -ms-overflow-style: none;
        }


        form {
            padding: 20px;
        }


        input {
            border: 1px solid #3599aa;
            border-radius: 150px;
        }


        button {
            background-color: #3599aa;
            color: rgb(0, 0, 0);
            padding: 10px 22px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 150px;
        }
    </style>

    <script src="/socket.io/socket.io.js">
    </script>

    <script>
        const socket = io();

        socket.on("connect", () => {
            console.log('Connected to server');
        });

        socket.on("disconnect", () => {
            console.log('Disconnected from server');
        });

        socket.on("result", (data) => {
            console.log(data);
            document.getElementById('readContent').innerHTML = data.requestedValue;
        });

    </script>
</head>

<body>
    <div id="content">
        <div id="writeFormContainer">
            <form id="writeForm">
                <input type="text" name="write" id="write">
                <button type="submit">Send</button>
                <script>
                    document.getElementById('writeForm').addEventListener('submit', function (event) {
                        event.preventDefault();
                        let writeValue = document.getElementById('write').value;
                        socket.emit('command', writeValue);
                        console.log('command sent')
                    });
                </script> 
            </form>
            </div>
            <!-- This div is where the read data will be displayed -->
            <div id="readContent">

            </div>
        </div>
    </div>
    </div>
</body>

</html>