<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NFC Read/Writer</title>
    <style>
        #contentDiv {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            border: 1px solid black;
            border-radius: 15px;
            width: 50%;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
        }

        #biggercontentDiv {
            /* might put images here */
            display: flex;
        }

        #recordDiv {
            margin-bottom: 10px;
        }

        #URLDiv {
            text-align: center;
            margin-top: 10px;
        }

        #statsDiv {
            text-align: left;
            border-left: 1px solid black;
            border-right: 1px solid black;
            border-top-left-radius: 15px;
            border-bottom-left-radius: 15px;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            position: absolute;
            top: 0;
            left: 0;
            padding: 10px;
            background-color: white;
            width: 150px;
            height: 100%;
            box-sizing: border-box;
        }

        #wins {
            color: green;
        }

        #ties {
            color: orange;
        }

        #losses {
            color: red;
        }

        #ownerDiv {
            margin-bottom: 10px;
        }

        #pdSearch {
            display: flex;
            justify-content: center;
            margin-top: 10px;
        }
    </style>
<script src="slammers.js"></script>
    <script src="/socket.io/socket.io.js">
    </script>

    <script>
        const socket = io();

        socket.on("connect", () => {
            console.log('Connected to server');
        });

        socket.on("disconnect", () => {
            console.log('Disconnected from server');
        });

        socket.on("result", (data) => {
            console.log(data);
            document.getElementById('pdSearch').innerHTML = data.requestedValue;
        });

        socket.on("searchResult", (data) => {
            console.log(data);

            document.getElementById('info').innerHTML = 
            "name: " + data.requestedValue.name + "<br>" +
            "type: " + data.requestedValue.pucks['2223B09'].type + "<br>" +
            "resistance: " + data.requestedValue.pucks['2223B09'].resist + "<br>" +
            "weakness: " + data.requestedValue.pucks['2223B09'].weakness + "<br>" +
            "weight: " + data.requestedValue.pucks['2223B09'].weight + "<br>" +
            "description: " +data.requestedValue.description;
        });

        function search() {
            let data = document.getElementById('pdSearch').innerHTML;
            const extract = data.split(",");
            const pokemonName = extract[0];
            const pokedexNumber = extract[1];
            socket.emit('search', pokedexNumber);
        }
    </script>
</head>

<body>
    <div id="biggercontentDiv">
        <div id="contentDiv">
            <div id="recordDiv">
                <h2>Record</h2>
                Wins: <span id="wins">0</span> <br>
                Ties: <span id="ties">0</span> <br>
                Losses: <span id="losses">0</span>
            </div>
            <div id="statsDiv">
                <h2>Stats</h2>
                Stat1: <span id="stat1">0</span><br>
                Stat2: <span id="stat2">0</span><br>
                Stat3: <span id="stat3">0</span><br>
                Stat4: <span id="stat4">0</span><br>
                Stat5: <span id="stat5">0</span>
            </div>
            <div id="ownerDiv">
                <h2>Owner: <span id="owner">None</span></h2>
            </div>
        </div>
    </div>
    <div id="URLDiv">
        <h1><a href="">PokePuck Page</a></h1>
    </div>
    <div id="writeFormContainer">
        <form id="writeForm">
            <input type="text" name="write" id="write">
            <button type="submit">Send</button>
            <script>
                document.getElementById('writeForm').addEventListener('submit', function (event) {
                    event.preventDefault();
                    let writeValue = document.getElementById('write').value;
                    socket.emit('command', writeValue);
                    console.log('command sent')
                });
            </script>
        </form>
    </div>
    <div id="pdSearch"></div>
    <button onclick="search()">Search Pokedex Number</button>
    <div id="info"> </div>
</body>

</html>